body {
    margin: 0;
    background-color: cadetblue;
    user-select: none;
}

p {
    margin: 0;
    padding: 0;
}

#buttons {
    display: grid;
    width: 200px;
    height: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
}

.button {
    display: flex;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #5f9ea0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #5f9ea0;
    box-shadow:  5px 5px 12px #558d8e,
             -5px -5px 12px #69afb2;
}

.hover {
    background: linear-gradient(145deg, #568e90, #66a9ab);
    box-shadow:  5px 5px 12px #558d8e,
             -5px -5px 12px #69afb2;
    font-size: 20px;
}

.active {
    background: linear-gradient(145deg, #568e90, #66a9ab);
    box-shadow:  none;
    font-size: 16px;
}

#screen {
    display: flex;
    flex-direction: column-reverse;
    height: 135px;
    width: 200px;
    justify-items: flex-end;
    align-items: flex-end;
    color: whitesmoke;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: -10px;
}

.history {
    color: gainsboro;
    font-size: 24px;
}